:root {
  --color: #0A1228;
  --branco: #fff;
  --logo: #eeeeee;
  --gap: 3rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {

  font-family: "Open Sans", sans-serif;
  font-size: 1.6rem;

  color: var(--color);
  line-height: 1.5;



}

a {
  text-decoration: none;
}

p {
  margin-bottom: 2rem;
  font-size: 1.8rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;


}

h1 {
  font-size: 6rem;
  text-transform: uppercase;

}

h2 {
  text-transform: uppercase;
  font-size: 6rem;

}

.main-bg {
  color: var(--branco);
  background-image: url(imagem/abstract-timekeeper.svg);
  background-position: center center;
  background-size: cover;
}



.main-content {
  max-width: 120rem;
  margin: 0 auto;
  padding: 8rem var(--gap);
}

.section {
  min-height: 100vh;
}

.white-bg {
  background: var(--branco);
  color: var(--color);

}

.menu {

  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  width: 100%;
  border-bottom: 0.1rem solid var(--logo);
  z-index: 1;
}

.menu-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 0;
  padding-bottom: 0;

}

.menu h1 {
  font-size: 2.3rem;
}

.menu h1 a {
  color: var(--color);
}


.menu ul {
  list-style: none;
  display: flex;
}

.menu ul li a {
  display: block;
  padding: 2rem;
  font-size: 1.8rem;
  color: var(--color);
  position: relative;
}

.menu ul li a::after {
  content: '';
  position: absolute;
  bottom: 1rem;
  left: 50%;
  width: 0%;
  height: 0.2rem;
  background: crimson;
  transition: all 300ms ease-in-out;
}

.menu ul li a:hover::after {
  width: 50%;
  left: 25%;

}

.menu-spacing {
  height: 6.5rem;
}

.intro-content {
  position: relative;
  top: -8rem;
  display: grid;
  grid-template-columns: 1fr 1.5fr;
  align-items: center;
  gap: var(--gap);
  height: 100vh;
}

.intro-text-content,
.intro-img {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}


.intro-text-content h2 {
  font-size: 4rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  line-height: 1.4;

}

.intro-img img {
  max-width: 100%;
  height: auto;
}

.top-3 {
  max-width: 64rem;
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;


}

.top-3 h2 {
  margin-bottom: 1rem;
}

.top-3 p {
  word-spacing: 0.7rem;
}

.grid-one-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 110vh;

}

h2 .grid-main-con {

  margin-bottom: 1rem;




}

.grid-descr {
  padding-bottom: 5rem;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: var(--gap);
  counter-reset: grid;


}

.grid h3 {
  font-size: 3rem;
  position: relative;
  padding-left: 6rem;
  padding-bottom: 2rem;
}


.grid h3::before {
  counter-increment: grid;
  content: counter(grid);
  position: absolute;
  font-size: 8rem;
  font-style: italic;
  top: -4rem;
  left: -1rem;
  transform: rotate(5deg);
}

.responsive-table {
  overflow-y: auto;
box-shadow: 5px 5px 20px; 
border-radius: 2%;

}

th,
td {
  padding: 2rem;
  border: 0.1rem solid var(--logo);
  text-align: left;
  font-size: 1.4rem;

}

table {
  border-collapse: collapse;
  width: 100%;

}

tfoot td,
table th {
  background: var(--logo);
}

.contact-formu {
  grid-column: span 2;


}


.contact-formu .form-grid {
  border: none;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap);




}


.intro-img .img {
  padding-top: 2rem;
  max-width: 100%;
  height: 30rem;


}

.form-group .full-width {
  display: block;
  flex: 1 1 auto;
}

.form-group {
  width: 100%;
}

.form-grid legend {
  font-style: italic;
  font-size: 1.6rem;
  margin-bottom: 3rem;
}

.form-group label {
  display: block;
  margin-bottom: 1rem;
}





.form-group input {
  border: none;
  background: var(--branco);
  padding: 1.6rem 2rem;
  width: 80%;





}




.form-group button {

  border: 0.5rem solid var(--branco);
  background: none;
  color: var(--branco);
  padding: 1.5rem 2rem;
  font-size: 3rem;
  cursor: pointer;
  transition: all 300ms ease-in-out;
  margin-bottom: 3rem;




}

.form-group button:hover {
  background: var(--branco);
  color: var(--color);

}

.footer {
  width: 100%;
  background-color: #f0f0f0;
  padding: 0.5rem;
  text-align: center;

}


.footer p {
  padding-top: 2rem;


}


.footer a {
  color: var(--color);

}

.footer a:visited {
  color: tomato;
}

.close-menu {
  display: none;
}

.imm {
  height: 10rem;

}

.estilo input {
  border: 2px solid red;

}


@media (min-width: 310px) and (max-width:640px) {

  /* texto inicial */
  .intro-text-content h2 {
    font-size: 3rem;
  }

  /* paragrafo inicial */
  .intro-text-content p {
    font-size: 1.2rem;
  }

  /* imagem pc */
  .intro-img img {
    max-width: 80%;
    margin-left: 3rem;
  }

  /* texto  */
  .top-3 h2 {
    font-size: 3rem;

  }

  /* texto li nossos servicos*/
  .top-3 li {
    font-size: 1.2rem;
  }

  /* texto paragrafo top3 */
  .grid p {
    font-size: 1.2rem;

        
  }

  /* h2 top 3  */
  .grid-main-con {
    font-size: 3rem;
    
  }
  /* empresa */
  .grid-descr{
    font-size: 1.3rem;
  }

  /* numero 1 2 3 das grid */
  .grid h3::before {
    font-size: 3rem;
    counter-increment: grid;
    content: counter(grid);
    position: absolute;
    font-style: italic;
    top: -1rem;
    left: 1rem;
    transform: rotate(6deg)
  }

  .grid article{
   zoom: 80%;
  }
  
  


  /* imagem dos servico */
  .grid img {
    max-height: 3.2rem;
  }

  /* tabela de preco */
  h2 {
    font-size: 4rem;
  }

  /* contato  */
  div .heit {
    padding-top: 1rem;
    font-size: 4rem;

  }



  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;

  }

  .menu {
    display: none;
  }

  .close-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 1rem;
    background: var(--color);
    color: var(--branco);
    font-size: 3rem;
    line-height: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing1 {
    display: none;
  }

  .img {
    display: none;
  }

  .intro-text-content {
    font-size: 4rem;
  }
 

}

@media (min-width: 640px) and (max-width: 1024px) {

  /* texto inicial */
  .intro-text-content h2 {
    font-size: 4rem;
  }

  /* paragrafo inicial */
  .intro-text-content p {
    font-size: 1.8rem;
  }

  /* imagem pc */
  .intro-img img {
    max-width: 75%;
    margin-left: 10rem;
  }

  /* texto  */
  .top-3 h2 {
    font-size: 6rem;

  }

  /* texto li nossos servicos*/
  .top-3 li {
    font-size: 1.8rem;
  }

  /* texto paragrafo top3 */
  .grid p {
    font-size: 1.9rem;

        
  }

  /* h2 top 3  */
  .grid-main-con {
    font-size: 3.9rem;
    padding-top: 5rem;
    
  }
  /* empresa */
  .grid-descr{
    font-size: 1.8rem;
  }

  /* numero 1 2 3 das grid */
  .grid h3::before {
    font-size: 3rem;
    counter-increment: grid;
    content: counter(grid);
    position: absolute;
    font-style: italic;
    top: -1rem;
    left: 1rem;
    transform: rotate(6deg)
  }

  .grid article{
   zoom: 80%;
  }
  
  


  /* imagem dos servico */
  .grid img {
    max-height: 5.2rem;
  }

  /* tabela de preco */
  h2 {
    font-size: 4rem;
  }

  /* contato  */
  div .heit {
    padding-top: 1rem;
    font-size: 4rem;

  }



  .intro-content,
  .grid {
    grid-template-columns: 1fr;
  }

  .menu {
    bottom: 0;
    text-align: center;
  }

  .menu-content,
  .menu-content ul {
    flex-direction: column;
    justify-content: center;
  }

  .menu-content {
    height: 100vh;

  }

  .menu {
    display: none;
  }

  .close-menu {
    position: fixed;
    z-index: 2;
    top: 0;
    left: 0;
  }

  .close-menu-label::after {
    content: '☰';
    position: fixed;
    z-index: 2;
    top: 2rem;
    right: 1rem;
    background: var(--color);
    color: var(--branco);
    font-size: 3rem;
    line-height: 3rem;
    height: 3rem;
    text-align: center;
    padding: 0.5rem;
    cursor: pointer;
  }

  .close-menu:checked~.menu {
    display: block;
  }

  .close-menu:checked~.close-menu-label::after {
    content: '×';
  }

  .menu-spacing1 {
    display: none;
  }

  .img {
    /* display: none; */
  }

  .intro-text-content {
    font-size: 4rem;
  }
 

}


@media (min-width: 1024px) {
  .intro-text-content h2 {
    font-size: 4.5rem; /* Ajustando o tamanho do título */
    margin-top: 2.2rem;
  }

   /* texto */
   .top-3 h2 {
    font-size: 3.1rem; /* Tamanho do título */
  }
/* Layout das colunas de conteúdo */
.intro-content,
.grid {
  grid-template-columns: 1fr 1fr; /* Mudando para 2 colunas */
} 


/* imagem dos serviços */
.grid img {
  max-height: 7rem; 
}

 /* Ajuste no zoom das grids */
 .grid article {
  zoom: 80%;
}



  /* Empresa */
  .grid-descr {
    font-size: 1.4rem; /* Melhor legibilidade para descrição */
  }

  /* número 1 2 3 das grid */
  .grid h3::before {
    font-size: 3.5rem; /* Aumentando o número */
    counter-increment: grid;
    content: counter(grid);
    position: absolute;
    font-style: italic;
    top: -1rem;
    left: 1rem;
    transform: rotate(6deg);
  } 

   /* h2 top 3 */
   .grid-main-con {
    font-size: 3.2rem; /* Ajustando tamanho do título */
  }
}
@media(max-width: 380px) {
  /* texto inicial */
  .intro-text-content h2 {
    font-size: 2.6rem; /* Ajustando o tamanho do título */
  }

  /* parágrafo inicial */
  .intro-text-content p {
    font-size: 1.5rem; /* Tamanho do texto maior para leitura confortável */
  }

  /* imagem PC */
  .intro-img img {
    display: none;
    
    
  }

   /* texto  */
   .top-3 h2 {
    font-size: 2.4rem;
    margin-top: 2rem;

  }

  /* texto li nossos servicos*/
  .top-3 li {
    font-size: 1.1rem;
  }

  /* texto paragrafo top3 */
  .grid p {
    font-size: 1rem;

        
  }

  /* h2 top 3  */
  .grid-main-con {
    font-size: 1.4rem;
    
  }

  .form-group input{
    padding: 2px;
  }
  .form-group button{
    padding: 1px;
 
  }

  #contact p {
   
    font-size: 1.2rem;
  }
}


