/* Estilo para o body para centralizar o conteúdo */
body {
    display: grid;
    place-items: center; /* Alinha o conteúdo (h2) no centro */
    height: 100vh;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-image: url(imagem/parabolic-rectangle.svg);
}

/* Estilo para o h2 */
h2 {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    animation: corAnimada 5s infinite;
}

/* Animação de cores */
@keyframes corAnimada {
    10% {
        color: red;
    }
    25% {
        color: orange;
    }
    50% {
        color: yellow;
    }
    75% {
        color: green;
    }
    100% {
        color: blue;
    }
}
